<form name="userForm" class="form-inline">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                 <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <h2>{{modalLabel}}</h2>
        </div>
        <div class="panel-body">
            <div class="well">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group" ng-class="{error: account.username.$invalid && !account.username.$pristine}">
                            <div class="col-xs-7">
                                <label for="username">Username</label>
                                    <input id="username" class="form-control" name="username" ng-model="account.username" type="text" required/>
                            </div>
                        </div><br /><br />
                        <div ng-if="!account._id">
                            <div class="form-group" ng-class="{error: account.pswrd.$invalid && !account.pswrd.$pristine}">
                                <div class="col-xs-7">
                                    <label for="pswrd">Password</label>
                                        <input id="pswrd" class="form-control" name="pswrd" ng-model="account.pswrd" type="password" required/>
                                </div>
                            </div><br /><br />
                            <div class="form-group" ng-show="account.pswrd" ng-class="{error: account.verifypassword.$invalid && !account.verifypassword.$pristine}">
                                <div class="col-xs-7">
                                    <label for="verifypassword">Verify Password</label>
                                    <input id="verifypassword" class="form-control" name="verifypassword" ng-model="account.verifypassword" type="password" required/>
                                </div>
                            </div><br /><br />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="control-group">
                            <label class="control-label" for="res_status">Choose Theme</label>
                            <div class="controls">
                                <div class="row">
                                    <div  <div class="col-md-6">
                                        <label class="radio inline" for="cyborg">
                                            <input type="radio" name="themes" ng-model="account.themes" id="cyborg" value="cyborg">
                                            Cyborg
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="radio inline" for="simplex">
                                            <input type="radio" name="themes" ng-model="account.themes" id="simplex" value="simplex">
                                            Simplex
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <div class="control-group">
                            <div class="controls">
                                <div class="row">
                                        <div class="col-md-6">
                                        <label class="radio inline" for="superhero">
                                            <input type="radio" name="themes" ng-model="account.themes" id="superhero" value="superhero">
                                            Superhero
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="radio inline" for="sandstone">
                                            <input type="radio" name="themes" ng-model="account.themes" id="sandstone" value="sandstone">
                                            Sandstone
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>  <br/>

                        <div class="control-group">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="radio inline" for="cerulean">
                                            <input type="radio" name="themes" ng-model="account.themes" id="cerulean" value="cerulean">
                                            Cerulean
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="radio inline" for="slate">
                                            <input type="radio" name="themes" ng-model="account.themes" id="slate" value="slate">
                                            Slate
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />

                        <div class="control-group">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="radio inline" for="paper">
                                        <input type="radio" name="themes" ng-model="account.themes" id="paper" value="paper">
                                            Paper
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="radio inline" for="united">
                                        <input type="radio" name="themes" ng-model="account.themes" id="united" value="united">
                                            United
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <br />

                        <div class="control-group">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="radio inline" for="darkly">
                                            <input type="radio" name="themes" ng-model="account.themes" id="darkly" value="darkly">
                                            Darkly
                                        </label>
                                        </div>
                                         <div class="col-md-6">
                                        <label class="radio inline" for="spacelab">
                                            <input type="radio" name="themes" ng-model="account.themes" id="spacelab" value="spacelab">
                                            Spacelab
                                        </label>
                                    </div>
                                </div>  <br />
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="account.themes == 'cyborg'">
                        <div class="well col-md-3">
                            <a href="/">
                                <img src="img/cyborg.png" style="height: 170px; width: 200px; padding-right: 19px;">
                            </a>
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'simplex'">
                        <div class="well col-md-3">
                            <img src="img/simplex.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'superhero'">
                        <div class="well col-md-3">
                            <img src="img/superhero.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'sandstone'">
                        <div class="well col-md-3">
                            <img src="img/sandstone.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'cerulean'">
                        <div class="well col-md-3">
                            <img src="img/cerulean.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'slate'">
                        <div class="well col-md-3">
                            <img src="img/slate.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'paper'">
                        <div class="well col-md-3">
                            <img src="img/paper.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                     <div class="row" ng-show="account.themes == 'united'">
                        <div class="well col-md-3">
                            <img src="img/united.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'darkly'">
                        <div class="well col-md-3">
                            <img src="img/darkly.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                    <div class="row" ng-show="account.themes == 'spacelab'">
                        <div class="well col-md-3">
                            <img src="img/spacelab.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </div>
                    </div>
                </div><hr>
                <div class="well">
                    <label>Admin Role</label>
                    <div class="controls">
                        <label class="radio inline" for="provincecontrol">
                            <input type="radio" name="accesscontrol" ng-disabled="account.createdById" ng-model="account.accesscontrol" id="provincecontrol" value="provincecontrol">
                            Province Admin
                        </label> &nbsp;&nbsp;

                        <label class="radio inline" for="municipalitycontrol">
                            <input type="radio" name="accesscontrol" ng-disabled="account.createdById" ng-model="account.accesscontrol" id="municipalitycontrol" value="municipalitycontrol">
                            Municipality Admin
                        </label> &nbsp;&nbsp;

                        <label class="radio inline" for="barangayaccesscontrol">
                            <input type="radio" name="accesscontrol" ng-disabled="account.createdById" ng-model="account.accesscontrol" id="barangayaccesscontrol" value="barangayaccesscontrol">
                            Barangay Admin
                        </label>
                    </div>         
                </div>
                <div>
                    <br>
                    <div class="control-group col-md-3">
                        <label class="control-label" for="Region">Select Region:</label>
                        <!-- ng-disabled="account._id" -->
                        <div class="controls">
                            <select  style="width: 100%" class="form-control" name="region" id="region" ng-model="account.region" ng-options="value.region_name for (key,value) in getregion track by value.region_name">
                                <option value=''>Select Region</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group col-md-3">
                        <label class="control-label" for="Province">Select Province:</label>
                        <div class="controls">
                            <select style="width: 100%" ng-disabled="!account.region" class="form-control" name="province" id="province" ng-model="account.province" ng-options="value.province_name for (key,value) in getprovince track by value.province_name">
                                <option value=''>Select Province</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel="tooltip" data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>

<script language="javascript" src="script/app.js"></script>

            <br>
            <label class="checkbox inline" for="tnc">
                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="account.tnc" required />&nbsp;Accept
            </label>
            <br>
            <div ng-show="error" class="alert alert-danger col-md-7">{{error}}</div>
        </div>

        <div class="panel-footer">
            <a href="" class="btn btn-warning" ng-click="ok()"> Cancel </a>
            <button ng-hide="account.createdById" ng-click="save()" ng-disabled="!account.username || !account.verifypassword || !account.region || !account.province ||!account.tnc || myForm.$invalid" class="btn btn-primary"> Save </button>
            <button ng-click="update()" ng-show="account.createdById" ng-disabled="!account.username || !account.verifypassword || !account.region || !account.province ||!account.tnc || myForm.$invalid" class="btn btn-primary"> Update </button>
        </div>
    </div>
</form>