<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
             <div class="searchbox pull-right">
                  <div class="col-md-12">
                    <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                  </div>
              </div>
                <a ng-href="" ng-click="addNewUser('lg')" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New User</a>
              <div>
                  <h2>Account List</h2>
              </div>
        </div>
        <div class="panel-body">
              <div class="well">
                    <tabset justified="true">
                        <tab heading="Province Account"><br />
                            <div class="row">
                              <h3>Personnel</h3>
                              <!-- ng-click="show(account._id)" -->
                                <table ng-table="provinceparams" template-pagination="custom/pager" class="table table-hover table-striped">
                                      <tr>
                                        <th>Province</th>
                                        <th>Username</th>
                                        <th>Created By</th>
                                        <th>Updated By</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th style="text-align:center;">Action</th>
                                      </tr>
                                      <tr ng-repeat="account in province_account | orderBy:'createdAt'">
                                        <td data-title="'Province'">
                                              {{account.attributes.province.province_name}}
                                        </td>
                                        <td data-title="'Username'">
                                              {{account.attributes.username}}
                                        </td>
                                       <td data-title="'Created By'">
                                              {{account.attributes.createdbyadmin}}
                                        </td>
                                        <td data-title="'Updated By'">
                                            {{account.attributes.updateby}}
                                        </td> 
                                        <td data-title="'Role'">
                                            {{account.attributes.role}}
                                        </td>
                                        <td data-title="'Status'">
                                            {{account.attributes.active}}
                                        </td>
                                        <td data-title="'Action'" style="text-align:center;">
                                           <a href="" class="btn btn-sm btn-warning" ng-click="deactivate(account.id, account.attributes.active, account.attributes.accesscontrol)"><span class="glyphicon glyphicon-edit"></span> {{account.attributes.active_caption}} </a>
                                          <a href="" class="btn btn-sm btn-success" ng-click="editProvinceAccount('lg', account.id)"><span class="glyphicon glyphicon-edit"></span> Edit </a>
                                        </td>
                                      </tr>
                                  </table>
                            </div>
                        </tab>
                    </tabset>
              </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="custom/pager">

        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
          </li>
            <li> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
            </li>
        </ul>
        
</script>