<div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <br>
        </div>
      <div class="panel-body">
      <p>Are you sure you want to delete this record?</p>
      <p> ID No. {{getdelete.id}}| Case Type: {{getdelete.judicial.case_type}}</p>
      </div>
      <div class="panel-footer">
        <a class="btn btn-warning" ng-click="cancel()"> <span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
         <a href="" ng-click="yes(getdelete.id, getdelete.f, getdelete.m, getdelete.l,getdelete.case_type)" class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span> Yes </a>
      </div>
</div>