<div class="row">
      <div class="text-center">
      <input type="text" ng-model="search" class="form-control search-query " placeholder="Search&hellip;" />
  </div>
</div>
<br />
<div class="row">
    <div class="text-center">
      <h2>Judicial Records</h2>
        <button ng-click="judicialModel('lg')" class="btn btn-default ">
        <span class="glyphicon glyphicon-plus"></span>Add Judicial</button>
    </div>
</div>

<div class="row">
    <div class="text-center">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
<br />
<div class="row">
     <div class="col-md-4" dir-paginate="judicial in judicials | filter:search | itemsPerPage: pageSize" current-page="currentPage">
            <div class="panel panel-info" >
                   <div class="panel-heading">
                      <h3 class="panel-title">Respondent:  {{brgyjudicial.respondent.prof_firstname}}
                                                                                {{judicial.respondent.prof_middle_name}}
                                                                                {{judicial.respondent.prof_lastname}}<br/>
                                                                                Case Type: {{judicial.case_type}}</h3>
                   </div>
                   <div class="panel-body">
                   Some Content
                   </div>
                   <div class="panel-footer">
                          <button  href="" ng-click="judicial_view('lg', judicial.objectId)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> View </button>
                          <button  href="" ng-click="GetJudicialInfo('lg', judicial.objectId)" class="btn btn-sm btn-success">
                          <span class="glyphicon glyphicon-edit"></span> </button>
                          <button  href="" ng-click="destroy('md', judicial.objectId, judicial.case_type, judicial.respondent.prof_firstname, judicial.respondent.prof_middle_name,judicial.respondent.prof_lastname)" class="btn btn-sm btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button>

                   </div>
            </div>
    </div>
</div>


<div class="row">
    <div class="text-center">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
