<div class="row">
  <div class="text-center">
    <input type="text" ng-model="search" class="form-control search-query " placeholder="Search&hellip;" />
  </div>
</div>
<br />
<div class="row">
  <div class="text-center">
    <h2>Resident Records</h2>
    <!-- <button ng-click="residentModel('lg')" class="btn btn-default "><span class="glyphicon glyphicon-plus"></span>Add Resident</button> -->
    <a ng-click="residentModel('lg')" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus-sign" ></span> Add New 
    </a>
    <a class="btn btn-danger btn-sm" href="/#/generateIDs">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> Generate all ID's
    </a>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
</div>

<div class="row">
  <div class="col-md-4" dir-paginate="resident in residents | filter:search | itemsPerPage: pageSize" current-page="currentPage">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div id="qrcode" style="width:5px; height:5px; margin-top:15px; display: none;"></div>
        <h3 class="panel-title">{{resident.prof_firstname}} {{resident.prof_middle_name}} {{resident.prof_lastname}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <span>Gender:</span> 
            </div>
            <div class="col-md-7">
              <span>{{ resident.prof_gender }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>B-date:</span>
            </div>
            <div class="col-md-7">
              <span>{{ resident.b_date | date }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Status:</span>
            </div>
            <div class="col-md-7">
              <span>{{ resident.prof_status }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <span>Age:</span>
            </div>
            <div class="col-md-7">
              <span>{{ calculate_age(resident.b_date) }} years old</span>
            </div> 
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Present Address:</span>
            </div>
          </div>
         <!--  <div class="row">
            <div class="col-md-12">
              <span class="btn btn-warning btn-sm">{{ resident.barangay_bplace }}, {{ resident.municipality_bplace }}, {{ resident.province_bplace }} </span>
            </div>  
          </div>       -->   
        </div>
        <div class="col-md-3">
          <div ng-show="resident.imageuri" style="height: 50px; width: 50px;">
            <img id="Hello" src="{{resident.imageuri}} "height="70" width="70" class="img-rounded">
          </div>
          <div ng-show="!resident.imageuri" style="height: 50px; width: 50px;">
            <img id="Hello" ng-src="img/no-photo-icon.png" height="70" width="70" class="img-rounded">
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button  href="" ng-click="viewclearance('lg', resident.objectId)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> clearance </button>
        <!-- <button  href="" ng-click="view_guest('lg', resident.objectId)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> View </button> -->
        <button  href="" ng-click="GetResidentInfo('lg', resident.objectId)" class="btn btn-sm btn-success">
        <span class="glyphicon glyphicon-edit"></span> </button>
        <button  href="" ng-click="destroy('sm', resident.objectId, resident.prof_firstname, resident.prof_middle_name, resident.prof_lastname)" class="btn btn-sm btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button>
        <a ng-click="generatethisID(resident.objectId)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-circle-arrow-down"></span> Get ID</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
</div>

