<div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="cancel()" ><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            <h2>
                {{UserAcount.barangay.barangay_name}} Judicial Information
            </h2>
        </div>
        <div class="panel-body">
            <div class="row" id="table-icespdf">
                <div class="col-lg-6"  >
                <label> Complainant </label><br>
                    <center>
                        <div class="well" ng-show="brgyjudicial.complainant.imageuri">
                        <img id="image" ng-src="{{brgyjudicial.complainant.imageuri}}" height="200" width="200">
                        </div>
                         <div class="well" ng-show="!brgyresident.complainant.imageuri">
                        <img ng-src="img/no-photo-icon.png" height="200" width="200">
                        </div>
                   </center>

                   <p>Name:{{brgyjudicial.complainant}} {{brgyresident.complainant.prof_middle_name}} {{brgyresident.complainant.prof_lastname}}</p>
                   <p>Gender: {{brgyresident.complainant.prof_gender}}</p>
                   <p>Status: {{brgyresident.complainant.prof_status}}</p>
                   <p>Address: {{brgyresident.complainant.barangay.barangay_name}}, {{brgyresident.complainant.municipality.municipality_name}}, {{brgyresident.complainant.province.province_name}}</p>
                </div>

                <div class="col-lg-6" >
                <label> Respondent </label><br>
                <center>
                    <div class="well" ng-show="brgyjudicial.respondent.imageuri.objectId">
                    <img id="image" ng-src="{{brgyjudicial.respondent.imageuri.objectId}}" height="200" width="200">
                    </div>
                     <div class="well" ng-show="!brgyjudicial.respondent.imageuri.objectId">
                    <img ng-src="img/no-photo-icon.png" height="200" width="200">
                    </div>
                </center>
                <p>Name: {{brgyjudicial.complainant.prof_firstname}} {{brgyjudicial.prof_middle_name}} {{brgyjudicial.prof_lastname}}</p>
                <p>Gender: {{brgyjudicial.prof_gender}}</p>
                <p>Status: {{brgyjudicial.prof_status}}</p>
                <p>Address: {{brgyjudicial.barangay.barangay_name}}, {{brgyjudicial.municipality.municipality_name}}, {{brgyjudicial.province.province_name}}</p>
                <p>Case Type: {{brgyjudicial.case_type}}</p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
             <a href="" ng-click="cancel()"  class="btn btn-warning"> Close </a>
            <a  class="btn btn-info pull-right" ng-click="judicial_pdf(brgyjudicial._id)">Download PDF</a>
        </div>
    </div>

