<div class="panel panel-default">
        <div class="panel-heading">
              <div ng-hide="UserAcount.accesscontrol === 'barangayaccesscontrol'" class="pull-right">
               <!-- <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a> -->
              </div>
              <a id="renderpdf" class="btn btn-info pull-right" ng-click="create_clearance('lg')"> <span class="glyphicon glyphicon-plus-sign" > Create Baranggay Clearance </a>
            <h2>

                 {{UserAcount.barangay.barangay_name}} Resident Information

            </h2>

        </div>
        <div class="panel-body">
            <div class="row" id="table-icespdf">

                   <div class="col-lg-4">
<div id="qrcode" style="width:5px; height:5px; margin-top:15px;"></div>
                      <p>Profile ID: {{brgyresidentClearance.objectId}}</p>
                      <p>Name: {{brgyresidentClearance.prof_firstname}}, {{brgyresidentClearance.prof_lastname}} {{brgyresidentClearance.prof_middle_name}}</p>
                      <p>Gender: {{brgyresidentClearance.prof_gender}}</p>
                      <p>Civil Status: {{brgyresidentClearance.prof_status}}</p>
                      <p>Address:{{brgyresidentClearance.barangay.barangay_name}}, {{brgyresidentClearance.municipality.municipality_name}}, {{brgyresidentClearance.province.province_name}}</p>
                      <p ng-if="brgyresident.case_type" style="color: red;">CASE TYPE: {{brgyresidentClearance.case_type | uppercase}}</p>

                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">

                                <div class="well pull-right" ng-show="brgyresidentClearance.imageuri">
                                <img id="imageme" ng-src="{{brgyresidentClearance.imageuri}}" height="200" width="200">
                                </div>
                                 <div class="well pull-right" ng-show="!brgyresidentClearance.imageuri">
                                <img ng-src="img/no-photo-icon.png" height="200" width="200">
                                </div>

                    </div>
            </div>
            <div class="row">
                <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>

            <div class="row">
                 <div class="col-md-4" dir-paginate="clearance in clearancelist | filter:search | itemsPerPage: pageSizeclearance" current-page="currentPageclearance">
                        <div class="panel panel-info" >
                               <div class="panel-heading">
                                  <h3 class="panel-title">{{clearance.residentclearance.prof_lastname}}, {{clearance.residentclearance.prof_firstname}}</h3>
                               </div>
                               <div class="panel-body">
                               {{clearance.remark}}
                               </div>
                               <div class="panel-footer">
                                     <a href="" ng-click="download_pdf(clearance.id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-file"></span> Download the PDF </a>

                                          <a href="" ng-click="edit_clearance('lg', clearance.id)" class="btn btn-sm  btn-success" ><span class="glyphicon glyphicon-edit" ></span> Edit </a>

                               </div>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
     </div>
     <div class="panel-footer">
      <a href="" ng-click="cancel()" class="btn btn-warning">Cancel</a>
     </div>
</div>
