body {
  background: #E3E3E3;
}

body > .navbar {
  margin-bottom: 50px;
}

#main {
  background: #FFF;
  padding: 10px;
  margin: 10px -10px;
  box-shadow: 0 0 1px #000;
}
.loader{
      box-sizing: border-box;
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 25%;
      max-width: 25%;
      height: 200px;
      align-items: center;
      justify-content: center;
}
.header {
  border-bottom: solid 1px #CCC;
  padding-bottom: 10px;
}

.new-form {
  background: #E0E0E7;
  padding: 10px;
  margin: 10px -10px;
  padding-bottom: -10px;
}

.post .title {
  font-size: 2em;
}

.comment-count {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

form {
  margin: 0;
}

form input.input-xxlarge,
form textarea.input-xxlarge {
  width: 680px;
  font-size: 24px;
  line-height: 24px;
  height: auto;
}


.post {
  margin-bottom: 20px;
}

/* Styles go here */

/*.my-controller {
  border: 1px solid #fcc;
  padding: 5px;
  margin: 3px;
}
.my-controller small {
  color: #c99;
}
.other-controller {
  border: 1px solid #ccf;
  padding: 5px;
  margin: 3px;
}
.other-controller small {
  color: #99c;
}
.third-controller {
  border: 1px solid #cfc;
  padding: 5px;
  margin: 3px;
}
.third-controller small {
  color: #9c9;
}*/
body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
    .select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 29px;
    }

    .selectize-control > .selectize-dropdown {
      top: 36px;
    }

  /* Some of these styles you can override, things like colors,
           * however some styles are required for the structure, and are critical to this module behaving properly!
           */

          /* Core component styles */
          .ng-image-crop {
            text-align: center;
            margin: 0 auto;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
          }
          /* Each of the 3 steps in the process are contained within sections */
          .ng-image-crop > section {
            background: #ccc;
          }
          /* The cropping button */
          .ng-image-crop button {
            margin-top: 10px;
          }
          /* The dashed cropping guideline */
          .ng-image-crop .cropping-guide {
            display: block;
            background: rgba(255, 255, 255, .3);
            border: 2px dashed white;
            position: absolute;
            pointer-events: none;
          }
          /* The circular themed cropping guideline */
          .ng-image-crop--circle .cropping-guide {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          /* The canvas where the user positions the image via dragging and zooming */
          .ng-image-crop .cropping-canvas {
            background: rgba(255, 255, 255, .3);
            margin: 0 auto;
            cursor: move;
          }
          #imagelimitlist{
            width: 58px;
            height: 50px;

          }
          .limitimagecontainer{
            width: 15%;
            height: 15%;
          }
          /* The overlayed draggable zoom handle in the corner of the module */
          .ng-image-crop .zoom-handle {
            display: block;
            position: absolute;
            bottom: 1px;
            left: 1px;
            background: rgba(255,255,255,0.7);
            width: 80px;
            height: 80px;
            cursor: move;
            border-radius: 200px 50px;
          }
          /* The text within the zoom handle */
          .ng-image-crop .zoom-handle >
          span {
            color: rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            display: block;
            position: relative;
            top: 32px;
          }
          .ng-invalid.ng-dirty {
              border-color: #FA787E;
          }

          .ng-valid.ng-dirty {
              border-color: #78FA89;
          }
            #yourimage
        {
                width:100%;
        }

        #swatches
        {
            width: 100%;
            height: 50px;
        }

        .swatch {
            width:18%;
            height: 50px;
            border-style:solid;
            border-width:thin;
            float: left;
            margin-right: 3px;
        }

        @charset "UTF-8";
        /*
         * jQuery File Upload Plugin CSS 1.3.0
         * https://github.com/blueimp/jQuery-File-Upload
         *
         * Copyright 2013, Sebastian Tschan
         * https://blueimp.net
         *
         * Licensed under the MIT license:
         * http://www.opensource.org/licenses/MIT
         */

        .fileinput-button {
          position: relative;
          overflow: hidden;
        }
        .fileinput-button input {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          opacity: 0;
          -ms-filter: 'alpha(opacity=0)';
          font-size: 200px;
          direction: ltr;
          cursor: pointer;
        }

        /* Fixes for IE < 8 */
        @media screen\9 {
          .fileinput-button input {
            filter: alpha(opacity=0);
            font-size: 100%;
            height: 100%;
          }
        }
          #container
          {
              margin: 0px auto;
              width: 500px;
              height: 375px;
              border: 10px #333 solid;
          }
          #videoElement {
              width: 500px;
              height: 375px;
              background-color: #666;
          }
          #canvas {
              width: 500px;
              height: 375px;

              background-color: #CCC;
          }
          #results {
            float:right;
            margin:20px;
            padding:20px;
            border:1px solid;
            background:#ccc;
          }

          .ng-image-crop {
            text-align: center;
            margin: 0 auto;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
          }
          /* Each of the 3 steps in the process are contained within sections */
          .ng-image-crop > section {
            background: #ccc;
          }
          /* The cropping button */
          .ng-image-crop button {
            margin-top: 10px;
          }
          /* The dashed cropping guideline */
          .ng-image-crop .cropping-guide {
            display: block;
            background: rgba(255, 255, 255, .3);
            border: 2px dashed white;
            position: absolute;
            pointer-events: none;
          }
          /* The circular themed cropping guideline */
          .ng-image-crop--circle .cropping-guide {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          /* The canvas where the user positions the image via dragging and zooming */
          .ng-image-crop .cropping-canvas {
            background: rgba(255, 255, 255, .3);
            margin: 0 auto;
            cursor: move;
          }
          #imagelimitlist{
            width: 50px;
            height: 50px;

          }
          #navsize{
            width: 40px;
            height: 40px;
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 5px;

          }
          .limitimagecontainer{
            width: 15%;
            height: 15%;
          }
          .navimage{
            width: 9%;
            height: 9%;
          }
          .imagesize{
            width: 30px;
            height: 30px;
          }

          /* The overlayed draggable zoom handle in the corner of the module */
          .ng-image-crop .zoom-handle {
            display: block;
            position: absolute;
            bottom: 1px;
            left: 1px;
            background: rgba(255,255,255,0.7);
            width: 80px;
            height: 80px;
            cursor: move;
            border-radius: 200px 50px;
          }
          /* The text within the zoom handle */
          .ng-image-crop .zoom-handle > span {
            color: rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            display: block;
            position: relative;
            top: 32px;
          }
#yourimage
{
        width:100%;
}

#swatches
{
    width: 100%;
    height: 50px;
}

.swatch {
    width:18%;
    height: 50px;
    border-style:solid;
    border-width:thin;
    float: left;
    margin-right: 3px;
}

@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS 1.3.0
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
  #container
  {
      margin: 0px auto;
      width: 500px;
      height: 375px;
      border: 10px #333 solid;
  }
  #videoElement {
      width: 500px;
      height: 375px;
      background-color: #666;
  }
  #canvas {
      width: 500px;
      height: 375px;

      background-color: #CCC;
  }
  #results {
    float:right;
    margin:20px;
    padding:20px;
    border:1px solid;
    background:#ccc;
  }
