<div class="row">
      <div class="text-center">
      <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
  </div>
</div>
<br />
<div class="row">
    <div class="text-center">
         <h2>{{ListHeading}}</h2> <a ng-click="addregion('lg')" class="btn btn-default">
         <span class="glyphicon glyphicon-plus-sign"></span> Add New Region</a>
      </div>
</div>
<br />
<div class="row">
    <div class="text-center">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>

<div class="row">
     <div class="col-md-4" dir-paginate="region in regions | filter:search | itemsPerPage: pageSize" current-page="currentPage">
            <div class="panel panel-info" >
                   <div class="panel-heading">
                      <h3 class="panel-title">{{region.region_name}}</h3>
                   </div>
                   <div class="panel-body">
                    Some Content here
                   </div>
                   <div class="panel-footer">
                          <a href="#/viewprovince/{{region.objectId}}" class="btn btn-sm btn-info"> View Provinces </a>
                          <!-- <button  href="" ng-click="Viewlist('lg', region.objectId)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> View Provinces</button> -->
                          <button  href="" ng-click="GetRegionInfo('lg', region.objectId)" class="btn btn-sm btn-success">
                          <span class="glyphicon glyphicon-edit"></span> </button>
                          <!-- <button  href="" ng-click="destroy('sm', region.objectId)" class="btn btn-sm btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button> -->

                   </div>
            </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>

