<!DOCTYPE html>
<html ng-app="ices">
<head>
  <title>ICES BETA</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="ices">
  <link href="cycle.png" rel="icon">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="script/parse.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/ui-select/dist/select.min.js"></script>
  <script type="text/javascript" src='bower_components/jspdf/libs/png_support/zlib.js' type='text/javascript'></script>
  <script type="text/javascript" src='bower_components/jspdf/libs/png_support/png.js' type='text/javascript'></script>
  <script type="text/javascript" src='bower_components/jspdf/libs/deflate.js' type='text/javascript'></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.all.min.js"></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.addimage.js"></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.png_support.js"></script>
  <script type="text/javascript" src="bower_components/qrcode/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/qr-js/qr.js"></script>

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/united.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/ui-select/dist/select.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/select2-3.4.5/select2.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/src/loading-bar.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/paper.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- <link rel="stylesheet" href="css/demo.css"> -->
  <link rel="stylesheet" href="css/loaders.css">
</head>
<body >
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
                 <div class="navbar-header">
                  <a class="navbar-brand"><img ng-src="favicon.png" width="140" height="30"></a>
                  </div>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse" ng-controller="AuthCtrl">
                <ul class="nav navbar-nav">
                    <li><a ng-hide="!auth.currentUser" href="#/home"><span class="glyphicon glyphicon-home"></span> </a></li>
                    <li><a ng-hide="!auth.currentUser" href="#/judicialist"> Judicial <span class="glyphicon glyphicon-tasks"> </span></a></li>
                    <li><a ng-hide="!auth.currentUser" href="#/residentlist"> Resident <span class="glyphicon glyphicon-user"> </span></a></li>


                </ul>
                <form class="navbar-form navbar-left">

                    <input type="text" class="form-control" ng-model="qrvalue" placeholder="Enter the QR value here">

                  </form>

                  <!-- ng-show-auth="login" -->
                  <ul class="nav navbar-nav navbar-right"  >
                   <li ng-if="!auth.currentUser"><a href="" ng-click="login_modal('md')"> Login </a></li>

                    <li ng-hide="!auth.currentUser" class="dropdown">
                      <a class="dropdown-toggle js-activated" href="#"> settings <span class="glyphicon glyphicon-cog"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="" ng-click=""> {{auth.currentUser.username}} </a></li>
                        <li><a href="#/regionlist">Manage Region</a></li>
                        <li class="divider"></li>
                        <li ng-click="signout()"><a href=""> signout </a></li>

                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   <br>
   <br>
   <br>
   <br>

<div class="container">
    <div ng-view></div>
</div>

  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/js/bootstrap-hover-dropdown.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script type="text/javascript" src="bower_components/checklist-model/checklist-model.js"></script>
  <script type="text/javascript" src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
  <script type="text/javascript" src="bower_components/webcam/webcam.js"></script>

  <script type="text/javascript" src="src/angular-parse.js"></script>
  <script type="text/javascript" src="script/app.js"></script>

  <script type="text/javascript" src="services/UserServices.js"></script>
  <script type="text/javascript" src="services/RegionServices.js"></script>
  <script type="text/javascript" src="services/ProvinceServices.js"></script>
  <script type="text/javascript" src="services/municipalServices.js"></script>
  <script type="text/javascript" src="services/baranggayServices.js"></script>
  <script type="text/javascript" src="services/placeServices.js"></script>
  <script type="text/javascript" src="services/ResidentServices.js"></script>
  <script type="text/javascript" src="services/clearanceServices.js"></script>
  <script type="text/javascript" src="services/radiobtn_checkbox_Services.js"></script>
  <script type="text/javascript" src="services/JudicialServices.js"></script>
  <script type="text/javascript" src="services/ViewerServices.js"></script>
  <script type="text/javascript" src="services/functionsServices.js"></script>

  <script type="text/javascript" src="controller/navbarCtrl.js"></script>
  <script type="text/javascript" src="controller/RegionCtrl.js"></script>
  <script type="text/javascript" src="controller/provinceCtrl.js"></script>
  <script type="text/javascript" src="controller/municipalCtrl.js"></script>
  <script type="text/javascript" src="controller/baranggayCtrl.js"></script>
  <script type="text/javascript" src="controller/residentCtrl.js"></script>
  <script type="text/javascript" src="controller/judicialCtrl.js"></script>
  <script type="text/javascript" src="controller/generateIDsCtrl.js"></script>
  <script type="text/javascript" src="controller/registerCtrl.js"></script>
  <script type="text/javascript" src="directives/dirPagination.js"></script>
  <script type="text/javascript" src="directives/someDirectives.js"></script>
  <script type="text/javascript" src="directives/cropdirective.js"></script>
  <script type="text/javascript" src="filters/filters.js"></script>

  <script>
      $(document).ready(function () {

            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
               isClosed = false;

              trigger.click(function () {
                hamburger_cross();
              });

              function hamburger_cross() {

                if (isClosed == true) {
                  overlay.hide();
                  trigger.removeClass('is-open');
                  trigger.addClass('is-closed');
                  isClosed = false;
                } else {
                  overlay.show();
                  trigger.removeClass('is-closed');
                  trigger.addClass('is-open');
                  isClosed = true;
                }
            }

        $('[data-toggle="offcanvas"]').click(function () {
              $('#wrapper').toggleClass('toggled');
        });
      });
      // very simple to use!
      $(document).ready(function() {
        $('.js-activated').dropdownHover().dropdown();
      });
  </script>
  <script>
    // document.addEventListener('DOMContentLoaded', function () {
    //   document.querySelector('main').className += 'loaded';
    // });
  </script>
</body>
</html>
